<div class="col-md-6 container">
  <h2 class="text-center">Add Route</h2>
  <form [formGroup]="addRouteForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="source">Source</label>
      <input type="string" formControlName="source" required name="source" class="form-control" id="source">
    </div>

    <div class="form-group">
      <label for="destination">Destination</label>
      <input type="string" formControlName="destination" required name="destination" class="form-control"
        id="destination">
    </div>

    <div class="field">
      <input type="submit" value="Add">
    </div>

  </form>
</div>