<!DOCTYPE html>
<html>
<div class="container">
    <table class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>TravelAgency</th>
                <th>BusType</th>
                <th>Fare</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bus of buses">
                <td>{{bus.busType}}</td>
                <td>{{bus.fare}}</td>
                <td>{{bus.travel}}</td>
                <!-- <td><button class="btn btn-danger" (click)="deleteEmployee(employee)"> Delete Employee</button></td> -->
                <td><button class="btn btn-success" (click)="checkAvailability()"> Check Availability</button></td>
            </tr>
        </tbody>
    </table>

</div>

</html>