.bgcarding{
    height: 65%;
    width: 30%;
    background-color: #ecf0f3;
    border-radius: 25px;
    flex-direction: column;
    -ms-flex-align: center;
    margin: 10%;
    margin-left: 35%;
    }

    .container{
        padding: 25px;
    }

    .form-group{
        
        border-radius: 50px;
    }
    .field input{
        height: 40px;
        width: 80px;
        margin-left: 28%;
        background-color:darkturquoise ;
        border-width: 0px;
        border-radius: 10px;
    }
    
    .field{
        padding-top: 15px;
    }