
<div><app-header></app-header></div>
<div class="container">
    <!-- <h1>Bus List</h1>
    <h5>Buses between "{{sourceData}}" and 
    "{{destinationData}}"</h5> -->
   
    <table class="rwd-table">
        <thead>
            <tr>
                <th>Bus List</th>
                <th>Buses between "{{sourceData}}" and 
                    "{{destinationData}}"</th>
                <th>Bus Type</th>
                <th>Fare</th>
                <th>TotalCapacity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bus of buses">
                <td>{{bus.busType}}</td>
                <td>{{bus.fare}}</td>
                <td>{{bus.totalCapacity}}</td>
                <td><button class="btn btn-success" (click)=checkAvailability(bus)> Check Availability</button></td>
                <td>
                    <button *ngIf="isAdmin" class="btn btn-success" (click)="onEdit(bus)">Edit</button>
                </td>
                <td>
                    <button *ngIf="isAdmin" class="btn btn-danger" (click)="onDelete(bus)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>