<div>
    <app-header></app-header>
</div>

<div class="container">
<h1>Buses between "{{sourceData}}" and "{{destinationData}}"</h1>
    
    <table class="rwd-table">

        <thead>
            <th>
                <tr>Bus List</tr>
                
            </th>
            <tr>
                <th>Bus Type</th>
                <th>Fare</th>
                <th>TotalCapacity</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let bus of buses">
                <td>{{bus.busType}}</td>
                <td>{{bus.fare}}</td>
                <td>{{bus.totalCapacity}}</td>
                <td><button class="btn btn-success" (click)=checkAvailability(bus)> Check Availability</button></td>
                <td>
                    <button *ngIf="isAdmin" class="btn btn-success" (click)="onEdit(bus)">Edit</button>
                </td>
                <td>
                    <button *ngIf="isAdmin" class="btn btn-danger" (click)="onDelete(bus)">Delete</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>

<app-footer></app-footer>