<!-- <div class="container">

    <table class="table table-striped">
        <thead>
        <tr>
          <th>Bus Type</th>
          <th>Fare</th>
          <th>TotalCapacity</th>
          <th></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bus of buses">
                <td>{{bus.busType}}</td>
                <td>{{bus.fare}}</td>
                <td>{{bus.totalCapacity}}</td>
                <td><button class="btn btn-success" (click)=checkAvailability()> Check Availability</button></td>
                <td >
                    <button *ngIf="isAdmin" class="btn btn-success" (click)="onEdit(bus)">Edit</button>
                </td>
                <td >
                    <button *ngIf="isAdmin" class="btn btn-danger" (click)="onDelete(bus)">Delete</button>
                </td>
                </tr>
        </tbody>
          </table>
</div>  -->



<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
<thead>
        <tr>
          <th>Bus Type</th>
          <th>Fare</th>
          <th>TotalCapacity</th>
          <th></th>
          </tr>
        </thead>
					<tbody>
            <tr *ngFor="let bus of buses">
                <td>{{bus.busType}}</td>
                <td>{{bus.fare}}</td>
                <td>{{bus.totalCapacity}}</td>
                <td><button class="btn btn-success" (click)=checkAvailability()> Check Availability</button></td>
                <td >
                    <button *ngIf="isAdmin" class="btn btn-success" (click)="onEdit(bus)">Edit</button>
                </td>
                <td >
                    <button *ngIf="isAdmin" class="btn btn-danger" (click)="onDelete(bus)">Delete</button>
                </td>
                </tr>
        </tbody>
				</table>
	</div>
</div>
</div>