<!-- <div class="container">
  <div class="brand-logo"></div>
  <div [hidden]="isValidFormSubmitted">
    <div class="brand-title">LogIn</div>
    <form #form1="ngForm" (ngSubmit)="checkLogin(form1)">
      <div class="inputs">

        <div class="log-in-inputs">
          <label>Email</label>
          <input type="text" name="email" [(ngModel)]="email" required #email="ngModel">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Email is required
          </div>
        </div>

        <div class="log-in-inputs">
          <label>Password</label>
          <input type="password" name="password" [(ngModel)]="password" required #password="ngModel">
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password is required
          </div>
        </div>

        <div class="log-in-inputs">
          <label>User Type</label>
          <input type="text" name="userType" [(ngModel)]="userType" required>
        </div>

        <button type="submit" class="btn btn-success">LOGIN</button>
      </div>

      <div class="signup-link">
        Not a member? <a href="/signup">Register</a>
      </div>

    </form>
  </div>
</div>

 -->


<div class="container">
  <div class="brand-logo"></div>
  <div class="brand-title">LogIn</div>
  <div class="inputs">
    <form>
      <div class="log-in-inputs">
        <label for="Email" class="required">Email</label>
        <input type="email" name="email" [(ngModel)]="email" id="email" required>
      </div>

      <div class="log-in-inputs">
        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="password" required>
      </div>

      <div class="log-in-inputs">
        <label>User Type</label>
        <select name="userType" placeholder="Usertype" class="form-control" [(ngModel)]="userType" id="userType">
          <option>Select</option>
          <option *ngFor="let item of roleData" [value]="item">
            {{item}}
          </option>
        </select>
        <!-- <input type="text" name="userType" [(ngModel)]="userType" required> -->
      </div>

      <button (click)=checkLogin() class="btn btn-success">LOGIN</button>
    </form>
  </div>
  <div class="signup-link">
    Not a member? <a href="/signup">Register</a>
  </div>

</div>