<app-header ></app-header>
<body>
  <div id="formWrapper">
  <div id="form">


  <div class="logo">
  <h2 class="text-end" style="margin-left: 5px;">Update Password</h2>
  </div>
     <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-item">
      <input type="password" formControlName="oldPassword" placeholder="Old Password" name="oldPassword" id="oldPassword" class="form-style">
      </div>
      
       <div class="form-item">
       <input type="password" formControlName="newPassword" placeholder="New Password" name="newPassword" class="form-style" id="newPassword" >
      </div>
      <div class="form-item" >
      <input type="submit" value="Update" class="login" style="margin-right: 100px;margin-top: 10px;">
      <div class="clear-fix"></div>
      </div>
    </form>
    
  </div>
 
  </div>
  <div style="margin-top: 65%;">
    <app-footer></app-footer>
  </div>
 
  </body>
  
