<div class="bgcarding">
<div class="col-md-8 container">
    <h2 class="text-center">Update Password</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label for="oldPassword">Enter Old Password:</label>
        <input type="password" formControlName="oldPassword" placeholder="oldPassword" name="oldPassword" class="form-control" id="oldPassword" >
      </div>

      <div class="form-group">
        <label for="newPassword">Enter New Password:</label>
        <input type="password" formControlName="newPassword" placeholder="newPassword" name="newPassword" class="form-control" id="newPassword" >
      </div>
      <div class="field">
      <input type="submit" value="Update" class="btn btn-success">
    </div>
    </form>
  </div>
</div>
