<!-- <div class="col-md-6 container">
    <h2 class="text-center">Add Bus</h2>
    <form [formGroup]="addBusForm" (ngSubmit)="onSubmit()">

        <div class="form-group" >
            <label for="busType">Bus Type</label>
            <select name="busType" id="busType" formControlName="busType" class="form-control">
                <option value="LUXURY">Luxury</option>
                <option value="SUPERLUXURY">Super Luxury</option>
                <option value="VOLVO">volvo</option>
            </select>
         
        </div>

   
     <div class="form-group" >
        <label  for="fare">Fare</label>
        <input type="number" formControlName="fare" 
       min="1" required name="fare" class="form-control" id="fare">
    </div>

    <div class="form-group" >
        <label  for="totalCapacity">Capacity</label>
        <input type="number" formControlName="totalCapacity" 
       min="1" required name="totalCapacity" class="form-control" id="totalCapacity">
    </div>

    <div (click)=onSubmit() class="field" >
       <input type="submit" value="Add">
    </div>

    </form>

</div>  -->

<!-- 

  <div class="col-md-6 container">
    <h2 class="text-center">Add Bus</h2>
    <form [formGroup]="addBusForm" (ngSubmit)="onSubmit()">

        <div class="form-group" >
            <label for="busType">Bus Type</label>
            <select name="busType" id="busType" formControlName="busType" class="form-control">
                <option value="LUXURY">Luxury</option>
                <option value="SUPERLUXURY">Super Luxury</option>
                <option value="VOLVO">volvo</option>
            </select>
         
        </div>

   
     <div class="form-group" >
        <label  for="fare">Fare</label>
        <input type="number" formControlName="fare" 
       min="1" required name="fare" class="form-control" id="fare">
    </div>

    <div class="form-group" >
        <label  for="totalCapacity">Capacity</label>
        <input type="number" formControlName="totalCapacity" 
       min="1" required name="totalCapacity" class="form-control" id="totalCapacity">
    </div>

    <div (click)=onSubmit() class="field" >
       <input type="submit" value="Add">
    </div>

    </form>

</div>  -->


<body>
    <div class="login-root">
        <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
            <div class="loginbackground box-background--white padding-top--64">
                <div class="loginbackground-gridContainer">
                    <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
                        <div class="box-root"
                            style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
                        </div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
                        <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;">
                        </div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
                        <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
                        <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
                        <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;">
                        </div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
                        <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;">
                        </div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
                        <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
                        <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;">
                        </div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
                        <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
                <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                    <h1>Add Bus</h1>
                </div>
                
                    <div class="formbg-outer">
                        <div class="formbg">
                            <div class="formbg-inner padding-horizontal--48">
                                <form [formGroup]="addBusForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label for="busType">Bus Type</label>
                                        <select name="busType" id="busType" formControlName="busType"
                                            class="form-control">
                                            <option value="select" selected>Select</option>
                                            <option value="LUXURY">Luxury</option>
                                            <option value="SUPERLUXURY">Super Luxury</option>
                                            <option value="VOLVO">Volvo</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="fare">Fare</label>
                                        <input type="number" formControlName="fare" min="1" required name="fare"
                                            class="form-control" id="fare">
                                    </div>

                                    <div class="form-group">
                                        <label for="totalCapacity">Capacity</label>
                                        <input type="text" formControlName="totalCapacity" 
                                            name="totalCapacity" class="form-control" id="totalCapacity">
                                    </div>

                                    
                                    <div class="field padding-bottom--24">

                                        <div  class="field">
                                            <input type="submit" value="Add">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                   
            </div>
        </div>
        </div>
</body>