.ios-android-container > div::after {
	content: "";
	background-image: url(https://i.postimg.cc/MK7ZzDzX/city-scape-app-download.png);
	opacity: 0.2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}