<div class="courses-container">
	<div class="course">
		<div class="course-preview">
			<h1>Booking</h1>
			
			<form [formGroup]="addBookingForm" (ngSubmit)="onSubmit()">
      <div class="form-group">

            <label for="name">Name</label>
            <input type="text" formControlName="userName" placeholder="name" name="userName" class="form-control"
                id="userName">
        </div>

        <div class="form-group">

            <label for="email">Email</label>
            <input type="text" formControlName="email" placeholder="email" name="email" class="form-control" id="email">
        </div>

        <div class="form-group">

            <label for="mobileNumber">Mobile Number</label>
            <input type="text" formControlName="mobileNumber" placeholder="mobileNumber" name="mobileNumber"
                class="form-control" id="mobileNumber">
        </div>

        <div class="form-group">
            <label for="dateTime">Time:</label>
            <input type="datetime-local" formControlName="dateTime" class="form-control">
        </div>
        <input type="submit" value="proceed" class="btn btn-success">
      </form>
			
		</div>
		<div class="course-info">
			<div class="progress-container">
				<div class="progress"></div>
				<h6>{{name}}</h6>
    <br>
    <h6>{{emailId}}</h6>
    <br>
    <h6>{{phoneNumber}}</h6>
    <br>
    <h6>{{dateAndTime}}</h6>
    
		
			<p class="text">
        <button class='btn-2' (click)="myFunc()">
            Proceed to payment</button>
    </p>
		</div>
		</div>
	</div>
</div>