<!-- <div class="input-search-container">
     (ngSubmit)="update(busBetween.value.source,busBetween.value.destination) 
    <form class="d-flex justify-content-center" #busBetween="ngForm" (ngSubmit)="onSubmit()">
        <div class="d-inline-block position-relative">
            <span class="inputIcon"><i class="far fa-building"></i></span>
            <label class="inputLabel-default" for="input-label-from"></label>
            <input id="input-label-from" class="inputForm" type="text" list="input-from-list" placeholder="From">
            <datalist id="input-from-list">
              
            </datalist>
        </div>

        <div class="d-inline-block position-relative">
            <span class="inputIcon"><i class="far fa-building"></i></span>
            <label class="inputLabel-default" for="input-label-to"></label>
            <input id="input-label-to" class="inputForm" type="text" list="input-to-list" placeholder="To">
            <datalist id="input-to-list">
              
            </datalist>
        </div>
        <div class="d-inline-block position-relative" style="margin-top: -8.1mm">
            <label for="dob">DATE</label>
            <input class="validate" type="date" id="dob" placeholder="date" class="form-control" name="date"
                required="required" />
            <span class="tickcross" title="Select Date"></span>
        </div>
        <div class="d-inline-block position-relative" >
            <input class="btn btn-danger rounded-0 pl-3 pr-3 pb-2" type="submit" value="Search Buses" href="/search">
        </div>
    </form>
</div> -->




<div class="container">
    <div class="cover">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate class="form-horizontal">
            <div class="elem-group inlined">
                <input type="search" name="total_adults" placeholder="Source" required>
            </div>
            <div class="elem-group inlined">
                <input type="search" name="total_children" placeholder="Destination" required>
            </div>
            <div class="elem-group inlined">
                <input type="date" name="checkin" required>
            </div>
            <button type="submit">Search</button>
        </form>
    </div>
</div>