<div class="container">
    <div class="cover">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate class="form-horizontal">
            <div class="elem-group inlined">
                <input type="search" [(ngModel)]="searchData.source" name="source" placeholder="Source" required>
            </div>
            <div class="elem-group inlined">
                <input type="search" [(ngModel)]="searchData.destination" name="destination" placeholder="Destination" required>
            </div>
            <div class="elem-group inlined">
                <input type="date" [(ngModel)]="searchData.date" name="date" required>
            </div>
            <button type="submit">Search</button>
        </form>
    </div>
</div>