<div>
    <app-header></app-header>
</div>

<div class="position-relative">
    <div>
        <div class="home-banner">
            <div class='example -i0'>

                <div class='block'></div>

            </div>
        </div>
    </div>

    <div class="input-search-container">
        <app-search-route></app-search-route>
    </div>

</div>

<div class="on-time-guarantee d-flex mt-5 mb-5 p-4 border">
    <div class="pr-4">
        <img src="https://i.postimg.cc/xTDTr7DW/hero-ontime.png" alt="hero_ontime" width="80px">
    </div>

    <div>
        <div>
            <h2>Introducing On-Time Guarantee</h2>
            <h4 class="text-muted font-weight-normal">Leave on time, everytime</h4>
        </div>

        <div class="d-flex pt-4 pb-4">
            <p class="font-weight-light mr-3"><span><img src="https://i.postimg.cc/Z5Ym4zfD/tip-icon.png"
                        height="23"></span> Look for buses with</p>
            <p class="mr-3"><img src="https://i.postimg.cc/fyxsTzn1/otgText.png"></p>
            <p class="font-weight-light mr-3">tag while booking your journey</p>
        </div>

        <div class="d-flex">
            <div>
                <h5 class="text-primary">Bus on time</h5>
                <div class="font-weight-bold">Get 25% refund</div>
                <div class="text-muted">If bus departure is delayed by 30 mins from boarding point.</div>
            </div>

            <div>
                <h5 class="text-primary">No bus cancellation</h5>
                <div class="font-weight-bold">Get 150% refund</div>
                <div class="text-muted">Bus is cancelled without an alternate arrangement.</div>
            </div>

            <div>
                <h5 class="text-primary">Alternate assurance</h5>
                <div class="font-weight-bold">Get 300% refund</div>
                <div class="text-muted">Bus breaks down with no alternate arrangement within 6 hours.</div>
            </div>
        </div>
    </div>
</div>

<div class="container-pic">
    <div class="wrapper1">
        <div class="card"><i class="fal fa-arrow-right"></i></div>
    </div>
    <div class="wrapper1">
        <div class="card"><i class="fal fa-arrow-right"></i></div>
    </div>
    <div class="wrapper1">
        <div class="card"><i class="fal fa-arrow-right"></i></div>
    </div>
</div>

<div class="ios-android-container position-relative mb-5">
    <div>
        <!-- Background Image Container -->
        <div class="d-flex justify-content-around">
            <div class="pt-4">
                <h3>CONVENIENCE ON-THE-GO.</h3>
                <div class="w-75">
                    <p class="text-dark small">Exclusive features on mobile include</p>
                    <p class="text-dark small">OTMS NOW - when you need a bus in the next couple of hours. Board a bus
                        on its way.</p>
                    <p class="text-dark small">Boarding Point Navigation - Never lose your way while travelling to your
                        boarding point!</p>
                    <p class="text-dark small">1-click Booking - Save your favourite payment options securely on otms,
                        and more.</p>
                    <p class="text-dark small">Download the app.</p>
                    <p class="text-dark small">Enter your mobile number below to download the otms mobile app.</p>
                    <button class="btn btn-dark rounded-circle mr-2"><i class="fab fa-apple"></i></button>
                    <button class="btn btn-dark rounded-circle"><i class="fab fa-google-play"></i></button>
                </div>
            </div>
            <div>
                <img src="https://i.postimg.cc/TP4ftNJN/IOS-Android-device.png" alt="IOS_Android_device" width="420">
            </div>
        </div>
    </div>
</div>


<div class="container-pic">
    <div class="wrapper">
        <div class="card"><i class="fal fa-arrow-right"></i></div>
    </div>
    <div class="wrapper">
        <div class="card"><i class="fal fa-arrow-right"></i></div>
    </div>
    <div class="wrapper">
        <div class="card"><i class="fal fa-arrow-right"></i></div>
    </div>
</div>



<div class="we-promise-container bg-light p-3 pb-5">
    <div class="text-center m-4">
        <img src="https://i.postimg.cc/QN5hqb9S/promise.png" alt="promise" width="85">
        <h2 class="text-dark m-2">WE PROMISE TO DELIVER</h2>
    </div>

    <div class="text-center d-flex">
        <div class="border bg-white w-25">
            <div class="p-4"><img src="https://i.postimg.cc/wMKHptPh/maximum-choices.png" alt="maximum_choices"
                    width="120"></div>
            <div class="mb-5 m-4 font-weight-light lead">MAXIMUM CHOICE</div>
            <div class="m-4 p-1 text-muted">We give you the widest number of travel options across thousands of routes.
            </div>
        </div>

        <div class="border bg-white w-25">
            <div class="p-4"><img src="https://i.postimg.cc/Y2mqs7V6/customer-care.png" alt="customer_care" width="91">
            </div>
            <div class="mb-5 mt-4 font-weight-light lead">SUPERIOR CUSTOMER SERVICE</div>
            <div class="m-4 p-1 text-muted">We put our experience and relationships to good use and are available to
                solve your travel issues.</div>
        </div>

        <div class="border bg-white w-25">
            <div class="p-4"><img src="https://i.postimg.cc/JnHmv3Tr/lowest-Fare.png" alt="lowest_Fare" width="120">
            </div>
            <div class="mb-5 mt-4 font-weight-light lead">LOWEST PRICES</div>
            <div class="m-4 p-1 text-muted">We always give you the lowest price with the best partner offers.</div>
        </div>

        <div class="border bg-white w-25">
            <div class="p-4"><img src="https://i.postimg.cc/k4LMgYVR/benefits.png" alt="benefits" width="120"></div>
            <div class="mb-5 mt-4 font-weight-light lead">UNMATCHED BENEFITS</div>
            <div class="m-4 p-1 text-muted">We take care of your travel beyond ticketing by providing you with
                innovative and unique benefits.</div>
        </div>
    </div>
</div>

<!-- Adding Bootstrap CDN - jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Adding Bootstrap CDN - Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Adding Bootstrap CDN - Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>