<!-- <div class="col-md-6 container">
    <h2 class="text-center">Update cust Details</h2>
    <form #form=updateCustomerForm>
  -->
 
       <!-- <div class="form-group">
          <label for="mobileNumber">mobile number</label>
          <input type="text" formControlName="mobileNumber"  name="mobileNumber" class="form-control" id="mobileNumber">
       </div> -->
       <!-- <div class="log-in-inputs">
        <label>mobile </label>
        <input type="text" name="mobileNumber" [(ngModel)]="mobileNumber">
        </div> -->
       <!-- <div class="form-group" >
        <label  for="totalCapacity">Capacity</label>
        <input type="number" formControlName="totalCapacity" 
       min="1" required name="totalCapacity" class="form-control" id="totalCapacity">
    </div> -->
<!--  
       <div (click)=onSubmit() class="field">
          <input type="submit" value="update">
       </div>
 
    </form>
 </div> -->