<div class="courses-container">
    <div class="course">
        <div class="course-preview">
    <h2 class="text-center">Booking</h2>
    <form [formGroup]="addBookingForm" (ngSubmit)="onSubmit()">

        <div class="form-group">

            <label for="name">Name</label>
            <input type="text" formControlName="name" placeholder="name" name="name" class="form-control" id="name">
        </div>

        <div class="form-group">

            <label for="email">Email</label>
            <input type="text" formControlName="email" placeholder="email" name="email" class="form-control"
                id="email">
        </div>

        <div class="form-group">

            <label for="mobileNumber">Phone Number</label>
            <input type="text" formControlName="mobileNumber" placeholder="mobileNumber" name="mobileNumber"
                class="form-control" id="mobileNumber">
        </div>

        <div class="form-group">

            <label for="source">Source</label>
            <input type="source" formControlName="source" placeholder="source" name="source"
                class="form-control" id="source">
        </div>


        <div class="form-group">

            <label for="destination">Destination</label>
            <input type="text" formControlName="destination" placeholder="destination" name="destination" class="form-control" id="destination">
        </div>

        <input type="submit" value="Confrim Booking" class="btn btn-success">

    </form>
</div>
</div>