<div class="container">
    <div class="col">
        <div class="card">
            <div class="card-header">{{bus.busType}}</div>
            <div class="card-body">
                <div class="card-title">Bus Details
                    <div class="card-subtitle">
                        <h4>{{bus.fare}}</h4>
                        <!-- <h5>{{customer.id}}</h5> -->
                    </div>
                </div>
            </div>
            <div class="card-footer">
                
            </div>
        </div>
    </div>
</div>