
<div><app-header></app-header></div>
<div class="container">
    <h1>Travel List</h1>
  
   
    <table class="rwd-table">
        <thead>
            <tr>
                <th>TravelAgentName</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let travel of travels">
                <td>{{travel.travelAgentName}}</td>
                <td>
                    <button (click)="deleteTravel(travel)">Delete Travel</button>
                </td>
                <td>
                    <button (click)="addBus()">Add Bus</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>