<div>
    <app-admin-header></app-admin-header>
</div>

<div class="container">
    <h1>Travel List</h1>
  
   
    <table class="rwd-table">
        <thead>
            <tr>
                <th>TravelAgentName</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let travel of travels">
                <td>{{travel.travelAgentName}}</td>
                <td>
                    <button class="btn btn-danger" (click)="deleteTravel(travel)">Delete Travel</button>
                </td>
                <td>
                    <button class="btn btn-success" (click)="addBus()">Add Bus</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-footer></app-footer>