* {
  margin: 0;
  padding: 0;
}

/* .seat {
  float: left;
  display: block;
  margin: 1px;
  background: #4CAF50;
  width: 20px;
  height: 20px;
} */
.seat {
  text-align: center;

  padding-top: 1mm;
background-color: #05c8e2;
height: 25px;
width: 30px;
margin: 3px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.seat-select {
  display: none;
}

.seat-select:checked+.seat {
  background: #89c757;
}