<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bus Seat Booking</title>
  </head>
  <body>
    
    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>N/A</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>
    </ul>
<div class="d-flex felx-column justify-content-center">
  <div class="wrapper">
    <div class="container">
     
 <div> <img src="./assets/images/steering.jpeg" alt="driver" width="35" height="40" style="margin-left:7.5em; margin-top: 0.3em; padding-bottom: 2mm;"></div>
      <div class="row">
         
        <div class="seat">1</div>
        <div class="seat">2</div>
     
        <div class="seat">3</div>
        <div class="seat">4</div>
      </div>
      <div class="row">
        <div class="seat">5</div>
        <div class="seat">6</div>
        <div class="seat">7</div>
        <div class="seat">8</div>
      </div>
      <div class="row">
        <div class="seat">9</div>
        <div class="seat">10</div>
        <div class="seat">11</div>
        <div class="seat">12</div>
      </div>
      <div class="row">
        <div class="seat">13</div>
        <div class="seat">14</div>
        <div class="seat">15</div>
        <div class="seat">16</div>
      </div>
      <div class="row">
        <div class="seat">17</div>
        <div class="seat">18</div>
        <div class="seat">19</div>
        <div class="seat">20</div>
      </div>
      <div class="row">
        <div class="seat">21</div>
        <div class="seat">22</div>
        <div class="seat">23</div>
        <div class="seat">24</div>
      </div>
       <div class="row">
        <div class="seat">25</div>
        <div class="seat">26</div>
        <div class="seat">27</div>
        <div class="seat">28</div>
      </div>
      <div class="row">
        <div class="seat">29</div>
        <div class="seat">30</div>
        <div class="seat">31</div>
        <div class="seat">32</div>
      </div>
    </div>
  </div>
</div>
    <p class="text">
       Selected Seats : <span id="count">0</span> <span
       
        ></span
      >
    </p>
    <p class="text">
      <button class='stylebutton'>
      Confirm Booking</button>
   </p>

    <script src="script.js"></script>
  </body>
</html>