<div class="bckimg">
  <h1 style="font-family: 'Trebuchet MS', sans-serif; color: white; text-align: center">SELECT SEATS</h1>
  
<ul class="showcase justify-content-center">
  <li>
    <div class="seat" (click)="seatClicked('2')"></div>
    <small style="color: black; font-weight: bold;">Available</small>
  </li>
  <li>
    <div class="seat selected" style="background: #89c757;"></div>
    <small style="color: black; font-weight: bold;">Selected</small>
  </li>
  <li>
    <div class="seat occupied"></div>
    <small style="color: black; font-weight: bold;">Occupied</small>
  </li>
</ul>
<div class="d-flex felx-column justify-content-center">
<div class="wrapper">
<div class="container">
 
<div> <img src="./assets/images/steering.jpeg" alt="driver" width="35" height="40" style="margin-left:7.5em; margin-top: 0.3em; padding-bottom: 2mm;"></div>
  

<form id="reservation" method="post" action="test.php">
<section id="seats">
<div class="row">
<input id="seat-1" class="seat-select" type="checkbox" value="1" name="seat[]" (click)="seatClicked('1')"/>
<label for="seat-1" class="seat"></label>
<input id="seat-2" class="seat-select" type="checkbox" value="2" name="seat[]" (click)="seatClicked('2')"/>
<label for="seat-2" class="seat"></label>
<input id="seat-3" class="seat-select" type="checkbox" value="3" name="seat[]" (click)="seatClicked('3')"/>
<label for="seat-3" class="seat"></label>
<input id="seat-4" class="seat-select" type="checkbox" value="4" name="seat[]" (click)="seatClicked('4')"/>
<label for="seat-4" class="seat"></label>
</div>
<div class="row">
<input id="seat-5" class="seat-select" type="checkbox" value="5" name="seat[]" (click)="seatClicked('5')"/>
<label for="seat-5" class="seat"></label>
<input id="seat-6" class="seat-select" type="checkbox" value="6" name="seat[]" (click)="seatClicked('6')"/>
<label for="seat-6" class="seat"></label>
<input id="seat-7" class="seat-select" type="checkbox" value="7" name="seat[]" (click)="seatClicked('7')"/>
<label for="seat-7" class="seat"></label>
<input id="seat-8" class="seat-select" type="checkbox" value="8" name="seat[]" (click)="seatClicked('8')"/>
<label for="seat-8" class="seat"></label>
</div>
<div class="row">
<input id="seat-9" class="seat-select" type="checkbox" value="9" name="seat[]" (click)="seatClicked('9')"/>
<label for="seat-9" class="seat"></label>
<input id="seat-10" class="seat-select" type="checkbox" value="10" name="seat[]" (click)="seatClicked('10')"/>
<label for="seat-10" class="seat"></label>

<input id="seat-11" class="seat-select" type="checkbox" value="11" name="seat[]" (click)="seatClicked('11')"/>
<label for="seat-11" class="seat"></label>
<input id="seat-12" class="seat-select" type="checkbox" value="12" name="seat[]" (click)="seatClicked('12')"/>
<label for="seat-12" class="seat"></label>
</div>
<div class="row">
<input id="seat-13" class="seat-select" type="checkbox" value="13" name="seat[]" (click)="seatClicked('13')"/>
<label for="seat-13" class="seat"></label>
<input id="seat-14" class="seat-select" type="checkbox" value="14" name="seat[]" (click)="seatClicked('14')"/>
<label for="seat-14" class="seat"></label>

<input id="seat-15" class="seat-select" type="checkbox" value="15" name="seat[]" (click)="seatClicked('15')"/>
<label for="seat-15" class="seat"></label>
<input id="seat-16" class="seat-select" type="checkbox" value="16" name="seat[]" (click)="seatClicked('16')"/>
<label for="seat-16" class="seat"></label>
</div>
<div class="row">
<input id="seat-17" class="seat-select" type="checkbox" value="17" name="seat[]" (click)="seatClicked('17')"/>
<label for="seat-17" class="seat"></label>

<input id="seat-18" class="seat-select" type="checkbox" value="18" name="seat[]" (click)="seatClicked('18')"/>
<label for="seat-18" class="seat"></label>
<input id="seat-19" class="seat-select" type="checkbox" value="19" name="seat[]" (click)="seatClicked('19')"/>
<label for="seat-19" class="seat"></label>
<input id="seat-20" class="seat-select" type="checkbox" value="20" name="seat[]" (click)="seatClicked('20')"/>
<label for="seat-20" class="seat"></label>
</div>
<div class="row">


<input id="seat-21" class="seat-select" type="checkbox" value="21" name="seat[]" (click)="seatClicked('21')"/>
<label for="seat-21" class="seat"></label>
<input id="seat-22" class="seat-select" type="checkbox" value="22" name="seat[]" (click)="seatClicked('22')"/>
<label for="seat-22" class="seat"></label>
<input id="seat-23" class="seat-select" type="checkbox" value="23" name="seat[]" (click)="seatClicked('23')"/>
<label for="seat-23" class="seat"></label>
<input id="seat-24" class="seat-select" type="checkbox" value="24" name="seat[]" (click)="seatClicked('24')"/>
<label for="seat-24" class="seat"></label>
</div>
<div class="row">
<input id="seat-25" class="seat-select" type="checkbox" value="25" name="seat[]" (click)="seatClicked('25')"/>
<label for="seat-25" class="seat"></label>
<input id="seat-26" class="seat-select" type="checkbox" value="26" name="seat[]" (click)="seatClicked('26')"/>
<label for="seat-26" class="seat"></label>
<input id="seat-27" class="seat-select" type="checkbox" value="27" name="seat[]" (click)="seatClicked('27')"/>
<label for="seat-27" class="seat"></label>

<input id="seat-28" class="seat-select" type="checkbox" value="28" name="seat[]" (click)="seatClicked('28')"/>
<label for="seat-28" class="seat"></label>
</div>
<div class="row">
<input id="seat-29" class="seat-select" type="checkbox" value="29" name="seat[]" (click)="seatClicked('29')"/>
<label for="seat-29" class="seat"></label>
<input id="seat-30" class="seat-select" type="checkbox" value="30" name="seat[]" (click)="seatClicked('30')"/>
<label for="seat-30" class="seat"></label>

<input id="seat-31" class="seat-select" type="checkbox" value="31" name="seat[]" (click)="seatClicked('31')"/>
<label for="seat-31" class="seat"></label>
<input id="seat-32" class="seat-select" type="checkbox" value="32" name="seat[]" (click)="seatClicked('32')"/>
<label for="seat-32" class="seat"></label>

<!-- </section> -->
<p class="text">
Selected Seats : <span id="count" >{{countSeats}}</span> <span></span
>

<br>
Fare:{{getFare*countSeats}}</p>

<p class="text">
<button class='stylebutton' (click)="seatsSelected()">
Confirm Booking</button>
</p>

</div>