.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
  
  }
  
  .rating-list li:hover,
  .rating-list li:hover ~ li {
    color: #ffd700;
  }
  
  .rating-list {
    display: inline-block;
    list-style: none;
  }
  ngb-rating {
    font-size: 50px;
    color:#ffd700;
    border: black;
   
  }

  .btn-2 {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	margin-top: 3mm;
  margin-left: 12mm;
	padding: 12px 55px;
    margin-top: 30px;
	letter-spacing: 1px;
}
.container{
  margin-top: 10%;
  margin-left: 25%;
  margin-bottom: 5%;
  background-color:cornflowerblue;
  width: 50%;
  height: 50vh;
  padding: 25px;
  padding-left: 15%;
  border-radius: 25px;
}
h6{
  font-weight: bold;
  font-size: 6mm;
}
textarea {
  width: 80mm;
}