
 <!-- <div class="row">
    <div class="col-sm-12">
        <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block" >
            <li (click)="countStar(star)"><i   class="fa fa-star "></i></li> 
        </ul>
    </div>
  </div> -->

  <h1 class="text-primary">
    </h1>
    <!-- <textarea id="feedback" name="feedback" ></textarea> -->
    <h6>Give You Feedback</h6>
    <!-- <label for="feedback" class="label">Feedback(if any) :</label> -->
    <textarea name="feedback" placeholder="write feedback..." ></textarea>
    <h6>Rating (select a star amount)</h6>
    <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating>
    <p>Rate:{{currentRate}} </p>
        <button class='btn-2' (click)="submit()">
            Submit</button>
            


